<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khaln.coursemanager">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TermList"
            android:label="TermList"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.MainActivity" />
        </activity>
        <activity
            android:name=".TermActivity"
            android:label="TermActivity"
            android:parentActivityName=".TermList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.TermList" />
        </activity>
        <activity
            android:name=".CourseActivity"
            android:label="CourseActivity"
            android:parentActivityName=".TermActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.TermActivity" />
        </activity>
        <activity
            android:name=".AssessmentActivity"
            android:label="AssessmentActivity"
            android:parentActivityName=".CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.CourseActivity" />
        </activity>
        <activity
            android:name=".TermDetailsActivity"
            android:label="TermDetailsActivity"
            android:parentActivityName=".TermActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.TermActivity" />
        </activity>
        <activity
            android:name=".CourseDetailsActivity"
            android:label="CourseDetailsActivity"
            android:parentActivityName=".CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.CourseActivity" />
        </activity>
        <activity
            android:name=".MentorDetailsActivity"
            android:label="MentorDetailsActivity"
            android:parentActivityName=".CourseDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.CourseDetailsActivity" />
        </activity>
        <activity
            android:name=".AssessmentDetailsActivity"
            android:label="AssessmentDetailsActivity"
            android:parentActivityName=".AssessmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.AssessmentActivity" />
        </activity>
        <activity
            android:name=".NoteDetailsActivity"
            android:label="NoteDetailsActivity"
            android:parentActivityName=".AssessmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.AssessmentActivity" />
        </activity>
        <!--
        <activity
            android:name=".AssessmentActivity"
            android:label="AssessmentActivity"
            android:parentActivityName=".AssessmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.AssessmentActivity" />
        </activity>
        <activity
            android:name=".NoteDetailsActivity"
            android:label="NoteDetailsActivity"
            android:parentActivityName=".NoteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaln.coursemanager.NoteActivity" />
        </activity>
        -->

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.example.khaln.coursemanager.courseprovider"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.khaln.coursemanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>